[Desktop Entry]
Version=1.0
Name=Firewall Configuration by ufw-frontends
Comment=A better easy way to configure your firewall
Keywords=ufw-frontends;security;firewall;network;
Exec=ufw-frontends gtk
Icon=ufw-frontends
Terminal=false
Type=Application
Categories=System;Settings;
Categories=GNOME;GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
X-GNOME-Settings-Panel=ufw-frontends
X-Unity-Settings-Panel=ufw-frontends
X-Ubuntu-Gettext-Domain=ufw-frontends